{% extends "CJIMayFlyBundle::layout.html.twig" %}

{% block title %}
    Recherche - {{ parent() }}
{% endblock %}

{% block cjimayfly_body %}
    <!--========================================================
                               CONTENT
     =========================================================-->

    <main>
        <section class="well well1 well1_ins1">
            <div class="container center991">
                <h2 class="text-center">Résultats recherche</h2>
                <div class="row">
                    {% for post in posts %}
                    <div class="col col-md-4 col-sm-12 ">
                        <div class="thumbnail thumb-shadow">
                            <a href="{{ path ('CJ_IMayFly_view',{'id': post.id}) }}">
                                <img src="{{ asset('uploads/images/' ~ post.image) }}" width="100%">
                                <div class="caption bg2">
                                    <h6 class="text-center">
                                        {{ post.title }}
                                    </h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% else %}
                        <li>Pas de résultats</li>
                    {% endfor %}
                </div>
                <div class="text-center">{{ knp_pagination_render(posts) }}</div>
            </div>
        </section>
    </main>
{% endblock %}