{% extends "CJIMayFlyBundle::layout.html.twig" %}

{% block title %}
    Post - {{ parent() }}
{% endblock %}

{% block cjimayfly_body %}

    <!--========================================================
                           CONTENT
    =========================================================-->

    <main>
        <section class="well well1 well1_ins1">
            <div class="container center991">
                <h3 class="text-center">{{ post.title }}</h3>
                <img src="{{ asset('uploads/images/' ~ post.image) }}" width="100%">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <a href="{{ path('CJ_IMayFly_user', {'id': post.user.id }) }}">
                            <h4 class="text-center">{{ post.user }}</h4>
                        </a>
                        <div class="text-center">
                            <a href="#">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}